<!-- header div -->
<div id="header">
	<h1>To-Do List</h1>
</div>

<!-- container for everything but header -->
<div class="container">
	<div class="row">
		<!-- div for tasks needing to be completed -->
		<div class="col-md-6">
			<h2>To do:</h2>

			<ul>
			  {{#each tasks}}
			  	{{#unless this.completed}}
			      <li>
			        {{this.task_name}}

			        <form action="/{{this.id}}?_method=PUT" method="POST">
			          <input type="hidden" name="completed" value="true">
			          <button type="submit">Complete</button>
			        </form>
			        
			      </li>
			    {{/unless}}
			  {{/each}}
			</ul>
		</div>

		<!-- div for completed tasks -->
		<div class="col-md-6">
			<h2>Completed:</h2>

			<ul>
			  {{#each tasks}}
			    {{#if this.completed}}
			      <li>
			        {{this.task_name}}

			        <form action="/{{this.id}}?_method=PUT" method="POST">
			          <input type="hidden" name="completed" value="false">
			        </form>

			        {{> tasks/delete-task}}
			      </li>
			    {{/if}}
			  {{/each}}
			</ul>

		</div>
	</div>

	<!-- div for form for user to input more tasks -->
	<div class="row" id="form">
		<h3>Add a task:</h3>
		<form class="create-update-form" action="/" method="POST">

		  <div class="form-group">
		    <input type="text" name="task_name">
		  </div>

		  <button type="submit">Add</button>
		</form>
	</div>
</div>



